# Insurance Forecasting
This Jupyter Notebook aims to forecast the insurance price based on the region of the person, its sex, age, body mass index, if the person has children and if the person is a smoker.

This notebook should not be used as a measurement for real insurance.

# 1. Data Ingestion

In [1]:
import numpy as np
import pandas as pd

from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt

In [2]:
# load the dataset
data = pd.read_csv('./insurance.csv')
data.shape

(1338, 7)

In [3]:
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

# 2. Data Cleaning

In [4]:
data.isnull().any()
# as we can see, there is no null values.

age         False
sex         False
bmi         False
children    False
smoker      False
region      False
charges     False
dtype: bool